<!DOCTYPE html>
<html lang="en">
  {% include 'header.html' %}

<body>
  <div class="mx-auto mt-5 col-8">
    <h1 class="text-center mb-3">Trip Buddy </h1>
    {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
    <p class="alert alert-warning "> {{message}}</p>
    {% endfor %} {% endif %} {% endwith %}
    <div class="row">
      <div class="col">
        <h3>Register here!</h3>
        <form action="/register" method="post">
          First name:
          <input type="text" name="fname" class="form-control mb-3"> Last name:
          <input type="text" name="lname" class="form-control mb-3"> Email:
          <input type="text" name="email" class="form-control mb-3"> Password:
          <input type="password" name="password" class="form-control mb-3"> Confirm Password:
          <input type="password" name="confirmPassword" class="form-control mb-3">

          <div class="text-left">
            <button type="submit" class="btn btn-outline-danger">Register</button>
          </div>
        </form>
      </div>
      <div class="col">
        <div class="form-group">
          <h2>Login here!</h2>
          <form action="/login" method="POST">
            Email:
            <input type="text" class="form-control mb-3" name="login_email"> Password:
            <input type="password" class="form-control mb-3" name="login_password">
            <button class="btn btn-outline-danger">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>



</body>

</html>