<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}

<body>
  <header>
    <nav class="navbar sticky-top navbar-light bg-primary">
      <a class="navbar-brand" href="/success">Trip Buddy Dashboard</a>
      <h2 class="text-center">Welcome, {{userInfo[0]['firstname']}}</h2>
      <a href="/logout" class="btn btn-info">Log out</a>
    </nav>

  </header>
  <div class="container mt-5">

    {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
    <p class="alert alert-warning "> {{message}}</p>
    {% endfor %} {% endif %} {% endwith %}
  </div>
</body>

</html>